<div class="card">
    <div class="flag-img">
        <img src="{{flag}}" alt="flag {{name}}" height="300px">
    </div>
    <h2>{{name}}</h2>
    <ul>
        <li>capital: {{capital}}</li>
        <li>population: {{population}}</li>
        <li>language:
            <ul>{{#each languages}}
                <li>{{name}}</li>
                {{/each}}
            </ul>
        </li>
    </ul>
</div>